<!doctype html>
{% extends "base.html" %}
{% block body %}


<div class="container" style="width:40%; margin-top: 5%; background: #CDCDCD; padding:5%">
    <div class="row">
        <div class="col-sm">
            <h1 style="text-align: center; margin-bottom:15%">EDIT MESSAGE HERE</h1>
            <form action="pushchange" method="POST"
                  enctype="multipart/form-data">

                <label for="subject"><b>Subject</b></label>
                <input type="text" name="subject" class="form-control" value="{{ postChangeTask.subject }}"> <br>

                <label for="msg"><b>Message Text</b></label>
                 <input type="text" name="msg" class="form-control" value="{{ postChangeTask.msg }}"> <br>
                <!--                Subject: <input type="text" value="{{ postChangeTask.subject }}"> <br>-->
                <!--                 <img src="static/postimage/{{ postChangeTask.img }}" width="360" height="240"> <br>-->

                <label for="file"><b>Image</b></label>
                <input type = "file" class="form-control" name = "file" accept="image/*"/>
                <input name="postid" class="form-control" type="hidden" value="{{ postChangeTask.id }}">
                <br> <br>
                <button type="submit" class="btn btn-primary" style="width:100%">Update</button>
            </form>
            <hr>

        </div>
    </div>
</div>


{% endblock %}